<div class="container-fluid">
	<div class="alert alert-info">
		<p>Hello {{$ctrl.member.username}}, Here you may post your own keeps, manage your vaults, and be awesome</p>
	</div>

	<div class="my-keeps panel panel-default">
		<div class="well">
			<div class="my-keeps-header">
				<span>My Dashboard</span>
				<span>
						<button class="btn btn-theme theme-font" ng-click="$ctrl.toggleView('k')">K</button>
						<button class="btn btn-theme theme-font" ng-click="$ctrl.toggleView('v')">V</button>
				</span>
			</div>
		</div>
		<div class="panel-body">
			<div class="row" ng-show="$ctrl.show == 'v'">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="panel">
						<vaults-component></vaults-component>
					</div>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.show == 'k'">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="panel">
						<my-keeps-component></my-keeps-component>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>