a:hover{
	cursor: pointer;	
}

.content{
	margin-top: 3em;
}

.theme-font{
	font-family: Usuzi;
}

.highlights{
	font-size: 1.3em;
}
.highlights span{
	margin-right: 1em;
}
.btn-theme{
	background: #FC0096;
	border-color: #c00096;
	color: #fff;
}

.btn-theme:hover, .btn-theme:focus{
	background: #f00096;
	border-color: #c00096;
	color: #fff;
}

.my-keeps-header{
	display: flex;
	justify-content: space-between;
}

.my-keeps-header span{
	font-size:3em;
}

.thumbnail img{
	width: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.gallery {
  padding: 2.5em;
  font-weight: 200;
  width: 100%;
  margin: auto;
}

.keep{
	border: 1px solid #E6E6E6;
}
.keep-details{
	  padding: 0 .8em 0 .8em;
}

.alert p{
	font-size: 1.3em;
}